rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Appointments Rules
    match /appointments/{userId} {
      allow read: if request.auth != null;
      allow create, update: if request.auth != null && request.auth.uid == userId;
      allow delete: if request.auth != null && request.auth.token.email in ['26mpost@salpointe.org', 'erivers@salpointe.org'];
    }

    // Events Rules (The preset dropdown list)
    match /events/{eventId} {
      allow read: if request.auth != null; // Students can see the list
      allow write: if request.auth != null && request.auth.token.email in ['26mpost@salpointe.org', 'erivers@salpointe.org']; // Only Admins can manage the list
    }
  }
}